<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title></title>
  <style>
    .container {
      width: 400px;
      background: #efefef;
    }
    table {
      border-collapse: collapse;

      table-layout: fixed;
    }
    td {
      border: 1px solid #333;
    }
  </style>
</head>
<body>
  <div class="container">
    <table id="table">
      <tr>
        <td>r1c1</td>
        <td>r1c2</td>
      </tr>
      <tr>
        <td style="width: 100px">r2c1</td>
        <td>r2c2</td>
      </tr>
    </table>
  </div>
  <input type="checkbox" name="" id="w" /> table width 100px
  <script src="b.js"></script>
</body>
</html>
